<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ceepresta">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_cee"
        android:label=" "
        android:roundIcon="@mipmap/ic_launcher_cee_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CeePresta">
        <activity android:name=".Mostrar_Inventario_Activity"></activity>
        <activity android:name=".AñadirObjeto_Activity" />
        <activity android:name=".Principal_Activity" />
        <activity android:name=".InicioSesion_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>